*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html {
   font-size: 1.2rem;
}
body {
    background-color: #ccc;
}
/* set width cho ca trang  */
header {
    background-color: #f8f8f8;
    max-height: 68px;
    line-height: 68px;
    padding: 0 50px;
}